---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyD85uDx00cvjfWY4TA_rwEGYzm1yAVgGj0&part=snippet&q=XXXXYWYWYWYWYWYWBBHFHS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Sun, 06 Aug 2023 22:35:24 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=XXXXYWYWYWYWYWYWBBHFHS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - aDdDHA4l8i8SNsOX5WjduhhO5TJCp9lo5BCbD94KZaPp7MWpODGc8JE7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5188ac46f9d89b65c048e79e02f554ce"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24993'
      X-Ratelimit-Reset:
      - '1693934893'
      X-Server:
      - cat
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Sun, 06 Aug 2023 22:35:24 GMT
recorded_with: VCR 6.2.0
