---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=singapore
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - aDdDHA4l8i8SNsOX5WjduhhO5TJCp9lo5BCbD94KZaPp7MWpODGc8JE7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f67c21f8162b0b28e80d1b29ec216d7c"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24994'
      X-Ratelimit-Reset:
      - '1693934893'
      X-Server:
      - cat
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":777059,"width":4928,"height":3264,"url":"https://www.pexels.com/photo/marina-bay-sands-singapore-777059/","photographer":"Kin
        Pastor","photographer_url":"https://www.pexels.com/@kin-pastor-251088","photographer_id":251088,"avg_color":"#4D3934","src":{"original":"https://images.pexels.com/photos/777059/pexels-photo-777059.jpeg","large2x":"https://images.pexels.com/photos/777059/pexels-photo-777059.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/777059/pexels-photo-777059.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/777059/pexels-photo-777059.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/777059/pexels-photo-777059.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/777059/pexels-photo-777059.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/777059/pexels-photo-777059.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/777059/pexels-photo-777059.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Marina
        Bay Sands, Singapore"},{"id":1842332,"width":6879,"height":4586,"url":"https://www.pexels.com/photo/gardens-by-the-bay-singapore-1842332/","photographer":"Timo
        Volz","photographer_url":"https://www.pexels.com/@timo-volz-837240","photographer_id":837240,"avg_color":"#41393A","src":{"original":"https://images.pexels.com/photos/1842332/pexels-photo-1842332.jpeg","large2x":"https://images.pexels.com/photos/1842332/pexels-photo-1842332.jpeg?auto=compress\u0026cs=tinysrgb\u0026[...]
