---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Abuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - VGpxGyeYttTtKEfVCiwftQ==dp795ilgf5YR3kjs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9e324fb0-b454-4cfd-8ad8-cb6229fa4ffe
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTdQpEYwPHcFdeQ=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 580.79, "aqi": 6}, "NO2": {"concentration":
        8.05, "aqi": 10}, "O3": {"concentration": 18.95, "aqi": 16}, "SO2": {"concentration":
        0.71, "aqi": 1}, "PM2.5": {"concentration": 9.44, "aqi": 30}, "PM10": {"concentration":
        13.58, "aqi": 12}, "overall_aqi": 30}'
  recorded_at: Mon, 07 Aug 2023 19:13:46 GMT
recorded_with: VCR 6.2.0
