---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=2744bd73&app_key=0352aebe74e583579a83bfbd65db7a64&q=XXXXXXXXXXXXXXX&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sat, 05 Aug 2023 22:29:04 GMT
recorded_with: VCR 6.2.0
